{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1 class="title is-3 is-size-5-mobile">{% trans "Log Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  <div class="field">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="button is-danger">{% trans 'Yes, Sign me out' %}</button>
  </div>
</form>
<hr>
<a href="{% url 'index' %}" class="is-bold"><span class="icon"><i class="fas fa-arrow-left"></i></span> <span>Back to home</span></a>

{% endblock %}
