{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1 class="title is-4 is-size-5-mobile">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set disable-on-submit">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" class="button is-primary is-fullwidth" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
