{% extends '../base/base.html' %}
{% load humanize my_human_int engagements %}
{% block content %}
    <!-- <div class="section is-medium is-dark"></div> -->
    <div class="section is-medium">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <div class="box has-text-centered">
                        <h1 class="title is-1 is-bold has-text-danger">404</h1>
                        <h4 class="title is-6">Page not found!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
