{% extends '../base/base.html' %}
{% load static %}
{% block content %}

    <div class="section is-medium is-white" id="hero">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="columns is-multiline">
                        <div class="column is-5">
                            <object type="image/svg+xml" data="{% static 'socialapp/images/social_influencer_2_1.svg' %}">

                            </object>
                        </div>
                        <div class="column is-6 is-offset-1">
                            <h1 class="title is-2 is-bold is-size-4-mobile">
                                Find Instagram and Twitter ready influencers for your campaigns
                            </h1>
                            <p>Earn more money helping brands promote their products and services on Social Media as an Influencer.</p>
                            {% if request.user.is_authenticated %}
                            <p>
                                <a href="{% url 'influencers' %}" class="button is-link">Find Influencers</a>
                            </p>
                            {% else %}
                            <p>
                                <a href="{% url 'account_signup' %}" class="button is-primary">Create your account</a>
                            </p>

                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Display user profiles -->
    {% if profiles %}
        <div class="section">
            <div class="container">
                <div class="columns is-centered is-multiline">
                    <div class="column is-10">
                        <div class="columns is-multiline is-mobile">
                            {% for profile in profiles.all %}
                                {% include './parts/profile.html' with profile=profile %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="section is-white is-medium insights-wrapper">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="columns is-aligned-center">
                        <div class="column is-5">
                            <object type="image/svg+xml" data="{% static 'socialapp/images/insights.svg' %}"></object>
                        </div>
                        <div class="column is-7">
                            <h3 class="title is-3 is-size-5-mobile is-bold">
                                Want to see how an Instagram account performs?
                            </h3>
                            <p>Enter the Instagram <strong>username</strong> below to get FREE insights e.g cristiano</p>
                            {% include './parts/insights_form.html' with form=form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
