{% include "./parts/header.html" %}
<body>
    <div id="dashboard" class="columns is-marginless">
        <aside class="column is-2">
            {% include './parts/desktop_navbar.html' %}
        </aside>
        <div class="column is-10" id="dashboard-content">
            <div class="section">
                <div class="container">
                    <h1 class="title is-4 is-bold is-size-5-mobile">{% block title %}{% endblock %}</h1>
                    {% include './parts/messages.html' with messages=messages %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include "./parts/footer.html" %}
</body>
</html>
